@use "util";
@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Nunito", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::selection {
	background: var(--theme-text-selection);
	color: var(--theme-background);
}

* h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

html,
body {
	background: var(--theme-background);
	color: var(--theme-forground);
	font-size: 18px;
	z-index: 0;
	transition: background 0.15s ease-out;
	-webkit-transition: background 0.15s ease-out;
	-moz-transition: background 0.15s ease-out;
	-ms-transition: background 0.15s ease-out;
	-o-transition: background 0.15s ease-out;
}

.title {
	color: var(--theme-accent);
}

.text {
	color: var(--theme-text-gray);
}
.wrap {
	word-wrap: break-word;
	text-align: start;
}
